exercise-2 backend/.vs
exercise-2 backend/exercise-2 backend/bin
exercise-2 backend/exercise-2 backend/obj
exercise-2 frontend/.vs
exercise-2 frontend/exercise-2 frontend/bin
exercise-2 frontend/exercise-2 frontend/obj
